*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Roboto', sans-serif;
}

html{
    font-size:18px;
}


body{
    background-image: url("/public/assets/images/weather-bg.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

.display{
    display: flex;
    justify-content: flex-start;
    position: absolute;
    bottom: 100px;
    width:60%;
}

/* temp section*/

#tempnum{
    font-size:3rem;
}

.temp,.condition,.description{
    margin-left: 5%;
}

.temp{
    width:20%;
}

/* location section*/

.location p{
    font-size:3rem;
}

.date {
    font-size:1.4rem;
}

.condition .location{
    text-align: center;
}

/* description section*/
.description .describe{
    font-size:3rem;
}


.description .icon{
    text-align: center;
}

/* app wrapper*/

.details{
    position: absolute;
    right: 0;
    width:30%;
    background-color: rgba(0,0,0,0.3);
    height:100vh;

}

hr{
   border: solid 0.1px black;
}

.search{
    margin-bottom: 30px;
}

.regions{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 60%;
    margin-left:7%;
   
}

.region{
    font-size:1.2rem;
    margin-bottom:20px;
 
}

.weather-head{
    margin-top:20px;
    margin-left:6%;  
}

.more .more-weather{
    display: flex;
    
    margin-bottom:25px;
   margin-top:40px;
}

.more .more-weather .measure{
    width: 30%;
    margin-left:6%;
}
.more .more-weather .value{
    margin-left:45%;
}
.more h2{
    text-align: left;
}

/* icons*/
.icon .cloud{
    font-size:3rem;
}

.fa-search{
    font-size: 3rem;
    margin-top:20px;
}
/*search*/

.search input{
    border-bottom:1px solid black;
        border-top: none;
        border-left:none;
        border-right:none;
    background-color:transparent;
width:60%;
margin-left:6%;
margin-right:6%;
outline: none;
height: 50px;
margin-top:20px;
}

.mobile-details{
    display:none;
}

.mobile-search{
    display:none;
}

.previous-search{
    display:flex;
}

@media only screen and (max-width:1125px){
    .temp h1{
        font-size:3.5rem;

    }

    .icon .cloud{
        font-size:2rem;
    }
    
    .fa-search{
        font-size: 2.5rem;
       
    }

    .location p{
        font-size:2rem;
        margin-top:20px;
    }

    .date{
        font-size:0.9rem;
        color:white;
        text-align:center;
       
    }

    .details{
        width:40%;
    }

    .weather-head{
        font-size:1.1rem;
    }

    .more .more-weather .measure{
       font-size:0.9rem;
    }

    .region{
        font-size:1rem;
       
     
    }

    .description .describe{
        font-size:2rem;
    }

}

@media only screen and (max-width:768px){
    .details{
        display:none;
    }

    .display{
        display: none;
    }

    
    


   

    .mobile-details{
        display:block;
    }

    .mobile-search{
        display:block;
        margin-bottom: 10px;
        margin-left:5%;
    }

    .mobile-markup{margin-left:8%;}

    .mobile-markup .mobilecity{
        margin-top: 20px;
        font-size:1.5rem;
    }

    .mobile-markup .mobile-date{
        font-size:0.8rem;
    }

    .mobile-markup .mobile-temp{
        margin-top:100px;
        font-size:2.5rem;
        margin-bottom:10px;
    }

    .mobile-markup .mobile-condition{
        margin-bottom:20px ;
    }

    .mobile-search input{
        margin-left: 2%;
        border-bottom:1px solid black;
        border-top: none;
        border-left:none;
        border-right:none;
        background-color: transparent;
        outline: none;
        padding-bottom: 10px;
    }

    .condition{
        margin-bottom:100px;
        margin-left:10%;
    }

    .description{
        display: flex;
       
        margin-top:24px;
        margin-bottom:50px;
        margin-left:10%;
    }


    .temp{ margin-left:10%;
    width: 40%;
}

    .date{
        text-align: left;
    }

    .mobile-wdetails{
        display: flex;
        justify-content: space-around;
        width:80%;
       
    }

    .mobile-details hr{
        margin-bottom: 30px;
    }


    .mobile-value{margin-top: 35px;}
    .mobile-nature{
        margin-top: 20px;
    }

     .mobile-search .fa-search{
        font-size:1.3rem;
    }
}

@media only screen and (max-width:576px) {
    .mobile-wdetails{
       
        width:80%;
        margin-left: 10%;
    }
}