*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Roboto', sans-serif;
}

.mobile{
    display:none;
}

header{
    margin-bottom: 20px;
}

nav{
    display: flex;
    justify-content: space-around;
   
}

.navbar{
    display:flex;
    justify-content: space-around;
    list-style: none;
    width:40%;
}

.navbar li{
    margin-left: 3%;
    font-size:1.5rem;
    margin-top:30px;
}

.logo{
    font-size:1.5rem;
    margin-top:10px;
   
}

.btn-sign{
padding: 5px 10px;
margin-top:30px;
background-color: #8a2be2;
border:none;
color:white;
font-size:1.2rem;
border-radius:7px;
}

a{
    text-decoration: none;
}
.hamburger{
    width: 35px;
  height: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  margin-right: 0;
  cursor: pointer;
  margin-top: 10px;
  display: none;
 
}

.hamburger .line1{
    width:80%;
    height:2px;
    background-color: black;
    font-weight:bold;
}

.hamburger .line2{
    width:70%;
    height:2px;
    background-color: #000000;
    font-weight:bold;
}


.hamburger .line3{
    width:80%;
    height:2px;
    background-color: black;
    font-weight:bold;
}

.mobile{
position:absolute;
background-color: rgba(0, 0, 0, 0.7);
top:0;
height: 100vh;
width:100vw;
}

.mobile-nav{
    list-style:none ;
    display: flex;
    flex-direction: column;
    background-color: white;
    height:100vh;
    width:50vw;
   
}

.mobile{
    justify-content: flex-end;
}

.mobile-nav li{
   
margin-bottom: 50px;
font-size:1.4rem;
background-color: #8A2BE2;

color: white;
width: 100%;
}

.mobile-nav .first{
    margin-top:30px;}

.mobile-nav .closebtn{
    font-size:1.4rem;
    display: flex;
    justify-content: flex-end;
    margin-right: 4%;
}

.btn-sign{
    width:10%;
    height:40px;
}


@media only screen and (max-width:850px ){
    .first-nav{
        display:none;
    }

   

    .hamburger{
        display:flex;
    }
   
}