*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Roboto', sans-serif;
}

/*dark purple:#320032;
mid-purple:#8a2be2;
light-purple:#8a2be2;

/* begin-div*/

.made{
    background-image: url("/assets/images/pouring.jpg");
    background-size: cover;
    width:80%;
    margin-right: 10%;
    margin-left:10%;
}

.made h1{
    margin-top: 30px;
    margin-bottom:10px;
    width:30%;
    margin-left:50%;
    font-size:4rem;
    text-align:left; 
    color:white;
}

.made p{
    width:30%;
    margin-left:50%;
    text-align:left;
    font-size:1.2rem; 
    color:white;
}

.current-events{
    background-color: #320032;
    color:white;
    display:flex;
    justify-content: space-around;
    width:60%;
    margin-right: 20%;
    margin-left:20%;
    height: 100px;
    border-radius:7px;
    position: absolute;
    top:630px;
}

.current-events .sec{
    width:25%;
}

.current-events .sec hr{
    border: 0.1px solid white;

}

.current-events .sec p{
    font-size:0.8rem;
}

.current-events .sec h2{
    font-size:1.3rem;
    height:50px;
    margin-top:8px;
    font-weight: lighter;
    margin-bottom:0 !important;
}

/* event-div*/

.events{
    margin-top:150px;
    width:70%;
    margin-right: 15%;
    margin-left:15%;
}

.events h2{
    font-size:2.8rem;
    text-align:left;

}
.event-list{
    display:flex;
    justify-content:space-around;
}

.btn1{
    background-image:url("/assets/images/people-sitting.jpg");
    display:flex;
    height:200px;
    background-size: cover;
    border-radius: 7px;
}

.btn2{
    background-image:url("/assets/images/main.jpg");
    display:flex;
    height:200px;
    background-size: cover;
    border-radius: 7px;
}

.btn3{
    background-image:url("/assets/images/festive.jpg");
    display:flex;
    height:200px;
    background-size: cover;
    border-radius: 7px;
}

.box{
    margin-top:20px ;
    border-radius:7px;
    border:1px solid white;
    width:30%;
    box-shadow: 2px 1rem 1rem #320032;
}

.box button{
    height:35px;
    width:15%;
    background-color: white;
    margin-top:10px;
    border-radius:5px;
    border:none;
}

.box .add-event{
    margin-right:4%;
}

.box .like{
    margin-right:6%;
}

.box .btn2 .price{
    width:20%;
    margin-right:50%;
    margin-left: 4%;

}

.box .btn1 .price{
    width:20%;
    margin-right:50%;
    margin-left: 4%;

}

.box .btn3 .price{
    width:20%;
    margin-right:50%;
    margin-left: 4%;

}

.event-details{
    display:flex;
    justify-content: space-around;
    margin-top:5px;
}

.other-details{width:75%;}

/*weather-bar*/

.bar{
    width:12%;
    height:15px;
    background-color: greenyellow;
    margin-top:5px;
    box-shadow: 0.1rem 0.1rem 0.1rem green;
}

/* media queries*/

@media only screen and (max-width:1125px ){





.events{
   width:80%;
}

.made h1{
width:40%;
}

.made p{
    width:40%;
}

.current-events{
    top:670px;
    
}



   
}

@media only screen and (max-width:920px){
    .events{
        width:85%;
        margin-left: 7.5%;
        margin-right: 7.5%;
     }

     .made h1{
         width:50%;
         margin-right:25%;
         margin-left:25%;
     }
     .made p{
        width:50%;
        margin-right:25%;
        margin-left:25%;
    }
    
}

@media only screen and (max-width:768px){
   

    .made h1{
        width:60%;
        margin-left:20%;
        margin-right:20%;
    }

    .made p{
        width:60%;
        margin-left:20%;
        margin-right:20%; 
    }

    .current-events{
       top:650px;
    }
   
   
   
    .events h2{
        text-align:center;
        font-size:2.5rem;
        margin-bottom:20px;
    }
    
    
    .current-events{
        top:680px;
        width:75%;
        margin-right:12.5%;
        margin-left:12.5%;
    }

    .current-events .sec p{
        font-size:1rem;
    }

    .current-events .sec h2{
        font-size:1rem;
    }
    
    
    
    .event-list{
        display: block;
    }

    .box{
        width:60%;
        margin-left: 25%;
        margin-right:25%;
    }
}

@media only screen and (max-width:576px){
    .made{width:90%;
        margin-right: 5%;
        margin-left:5%;}

        .made h1{
            width:90%;
            margin-left:5%;
            margin-right:5%;
        }

        .made p{
            width:90%;
            margin-left:5%;
            margin-right:5%;
        }

        .current-events{
            top:500px;
        }
}


@media only screen and (max-width:475px){
   .current-events{
       top:650px;
       width:95%;
       margin-left: 2.5%;
       margin-right: 2.5%;
   }

   .current-events .sec h2{
       font-size:0.8rem;
   }

   .box{
       width:70%;
       margin-left: 15%;
       margin-right:15%;
   }
}







